# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# PyCharm
.idea

# VSCode
.vscode/
*.code-workspace
.DS_Store

# Training dataset
train_yolo/datasets/input_charts/
train_yolo/datasets/output_dataset/
train_yolo/datasets/charts/

# chart extraction datasets
chart_caption_context_extractor/datasets
chart_caption_context_extractor/extracted_charts
chart_caption_context_extractor/models