# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# PyCharm
.idea

# VSCode
.vscode/
*.code-workspace

# Training dataset
train_yolo/datasets/input/
train_yolo/datasets/output/
train_yolo/datasets/charts/